@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Tilt+Neon:XROT,YROT@1,31&display=swap");

#root {
  /* max-width: 1280px; */
  max-width: 1560px;
  margin: 0 auto;
  font-family: "Tilt Neon", serif;
  font-optical-sizing: auto;
}

* {
  user-select: none;  /* Prevent text selection */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  pointer-events: auto; 
}

html {
  scroll-behavior: smooth;
}